.window {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.53);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  .exit {
    position: absolute;
    cursor: pointer;
    width: 20px;
    top: 15px;
    right: 15px;
    height: 20px;
    &:after,
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 10px;
      transform: rotate(45deg);
      background-color: var(--black);
    }
    &:before {
      transform: rotate(-45deg);
    }
  }

  .body {
    position: relative;
    background-color: var(--white);
    padding: 80px;
    border-radius: 20px;
    .title {
      margin-bottom: 20px;
    }
    .btns {
      display: flex;
      flex-direction: column;
      button:first-child {
        margin-bottom: 10px;
      }
    }
  }
}
