.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.body {
  display: flex;
  margin-bottom: 30px;
  transition: all 1s ease;

  &.day {
    background: var(--white);
    .bodyRight {
    }
    .bodyLeft {
      .tomato {
        background: var(--ligthwhite);
      }
      .days {
        background-color: var(--ligthwhite);
      }
    }
  }
  &.night {
    background: var(--black);
    .bodyRight {
      background: #524f4f;
      div {
        color: var(--white);
      }
    }
    .bodyLeft {
      .tomato {
        background: var(--gray);
      }
      .days {
        background-color: var(--gray);
      }
    }
  }
  .bodyLeft {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    .days {
      padding: 25px;
      background-color: var(--ligthwhite);
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      height: 100%;
      transition: all 1s ease;
      .day {
        font-weight: 700;
        color: var(--black);
        font-size: 24px;
        margin-bottom: 14px;
      }
      .dayInfo {
        flex: 0 0 auto;
        div {
          position: absolute;
        }

        span {
          color: var(--red);
        }
      }
    }
    .tomato {
      transition: all 1s ease;
      background-color: var(--ligthwhite);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 0 60px 0;
      width: 300px;
      height: 180px;
      flex-direction: column;
      position: relative;
      svg {
        margin-right: 17px;
      }
      .tomatoX {
        display: flex;
        align-items: center;
        color: var(--darkgray);
        span {
          margin-right: 10px;
        }
        div {
          font-size: 24px;
        }
      }
      .activeTomato {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        font-size: 24px;
        font-weight: 700;
        span {
          margin-right: 10px;
          font-size: 24px;
          color: var(--darkgray);
        }
      }
      &.active {
        padding: 30px 0 45px 0;
      }
      .transparent {
        display: none;
      }
      .tomatoFooter {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        font-size: 24px;
        font-weight: 700;
        padding: 9px 0;
        height: 20%;
        width: 100%;
        background-color: var(--red);
        position: absolute;
        bottom: 0;
        span {
          margin-right: 10px;
        }
      }
    }
  }
  .bodyRight {
    transition: all 1s ease;
    background-color: var(--ligthwhite);
    width: 100%;
    display: flex;
    padding: 20px 100px 11px 56px;
    align-items: flex-end;
    position: relative;

    .columnBody {
      position: relative;
      z-index: 2;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      flex: 1 1 auto;
      text-align: center;

      margin-right: 30px;
      .column {
        background-color: var(--ligthred);
        margin-bottom: 11px;
        &.active {
          background-color: var(--red);
        }
      }
      .nameColumn {
        color: var(--darkgray);
        width: 70px;
        cursor: pointer;
        &.active {
          color: red !important;
        }
      }
    }
    .time {
      transition: all 1s ease;
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 95%;
      z-index: 1;
      bottom: -20px;
      left: 10px;
      .row {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        .line {
          width: 100%;
          margin-right: 32px;
          padding-left: 30px;
          height: 1px;
          background-color: var(--gray);
        }
        .min {
          white-space: nowrap;
          margin-right: 10px;
        }
      }
    }
  }
}

.footer {
  transition: all 1s ease;
  &.day {
    background: var(--white);
    .footerBlock {
      background-color: var(--ligthwhite);
    }
  }
  &.night {
    background: var(--black);
    .footerBlock {
      background-color: var(--gray);
    }
  }
  display: flex;
  .footerBlock {
    padding: 35px 35px 25px 25px;
    transition: all 1s ease;
    display: flex;
    flex: 1 1 33.33333%;
    transition: all 1s ease;
    svg {
      path {
        transition: all 1s ease;
      }
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
    .right {
      svg {
        path {
          stroke: var(--darkgray);
        }
      }
    }
    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: auto;

      h2 {
        font-size: 24px;
        color: var(--black);
        font-size: 24px;
      }
      div {
        font-weight: 400;
        font-size: 64px;
        white-space: nowrap;
      }
    }
  }
}
