.header {
  margin-bottom: 100px;
  box-shadow: 0px 10px 63px rgba(0, 0, 0, 0.07);
  padding: 10px 0;
  transition: all 1s ease;
  &.day {
    background-color: var(--white);
  }
  &.night {
    background-color: var(--black);
    box-shadow: 0px 10px 63px rgba(255, 255, 255, 0.07);
  }

  .containerHeader {
    justify-content: space-between;
    display: flex;
    align-items: center;
    .logo {
      display: flex;
      align-items: center;
      margin-right: auto;
      svg {
        margin-right: 15px;
      }
      p {
        color: var(--red);
      }
    }
    .statistics {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        p {
          color: var(--darkred);
        }
        path {
          fill: var(--darkred);
        }
      }
      svg {
        margin-right: 10px;
      }
      path {
        transition: all 0.5s ease;
      }
      p {
        transition: all 0.5s ease;
        color: var(--red);
      }
    }
  }
}
