.button {
  padding: 19px 50px;
  background-color: var(--green);
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.5s ease;
  color: var(--white);
  &.disabled {
    color: var(--ligthred);
    border-color: var(--ligthred);
    opacity: 0.4;
  }
  &:hover {
    background-color: var(--darkgreen);
  }
}
.stop {
  background: transparent;
  color: var(--red);
  border-color: var(--red);

  &:hover {
    color: var(--white);
    background: var(--red);
  }
}
